# ===========================================
# DATABASE
# ===========================================
DATABASE_URL=
DIRECT_URL=

# ===========================================
# APP DEPLOY
# ===========================================
APP_URL=

# ===========================================
# ENVIRONMENT
# ===========================================
NODE_ENV=development

# ===========================================
# EMAIL
# ===========================================
RESEND_API_KEY=
EMAIL_FROM=

# ===========================================
# AUTHENTICATION (Better Auth)
# ===========================================
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=