DATABASE_URL=

# Direct connection (for migrations)
DIRECT_URL=

# Environment
NODE_ENV=development

# Email (Resend)
EMAIL_KEY=
EMAIL_FROM=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000