# Next dev/build outputs
.output
dist
tsconfig.tsbuildinfo

# Node dependencies
.next
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.idea
.cursor
.cursor/
.cursor/mcp.json

# Local env files
.env
.env.*
!.env.example

# Prisma
/src/generated/prisma
